* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    background-color: #1F2937;
    color: #E5E7EB;
    position: fixed;
    top: 0;
    width: 100%;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.header-text {
    font-size: 24px;
    font-weight: bold;
}



a,
.small-text {
    text-decoration: none;
    color: #bbb;
    font-size: 18px;

}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 12px;
    padding: 5px;
    box-shadow: none;
    width: 25%;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

.top-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px;
    padding-top: 52px;
    align-items: center;
    gap: 16px;
}

.top-content {
    display:flex;
    flex-direction: column;
    gap: 8px;
    max-width: 40%;
}

.top-image,
.card-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.top-image {
    border-radius: 8px;
}

.cards {
    display: flex;
    gap: 24px;
    padding: 16px;
}

.text {
    text-align: center;
    color: #707884;
}

.card-image {
    max-width: 200px;
    border:5px solid #3882F6;
    border-radius: 12px;
}

.big-text {
    font-size: 48px;
    font-weight: bold;
}

.mid-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.title {
    color:#1F2937;
    font-weight: bold;
    font-size: 36px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-weight: lighter; 
    color:#1F2937;
    font-style: italic;
    max-width: 40%;
}

.quote-author {
    margin-top: 10px;
    padding-left: 20%;
}

.final-section {
    background-color: #3882F6;
    color:#E5E7EB;
    display: flex;
    justify-content: space-around;
    padding: 16px;
    margin: 32px 240px;
    border-radius: 10px;
}

.final-sign-up {
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    width: 10%;
    border: 2px solid #E5E7EB;
    font-size: 14px;
    font-weight: 700;
}

.bold-text {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: self;
    background-color: #1F2937;
    padding: 16px;
    color:#E5E7EB;
}
