* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around ;
    padding: 8px;
    background-color: #1F2937;
    color: white;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #bbb;

}

.top-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px;
}